.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#pictureDrop {
    text-align: center;
}

.topSpace {
    margin-top: 5%;
}

canvas {
    background-color: lightgrey;
}

.botSpace {
    margin-bottom: 5%;
}