.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#canvas {
    cursor: crosshair;
}

canvas {
    background-color: lightgrey;
}

#show {
    margin-top: 2%;
    margin-bottom: 2%
}