/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#store {
    cursor: crosshair;
    margin-top: 2%;
}

canvas {
    background-color: lightgrey;
}

.center-tb {
    margin-left: auto;
    margin-right: auto;
}

.left-float {
    float: left;
}

.right-float {
    float: right;
}

.centercanvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.center-text {
    text-align: center;
}

.margins-it {
    padding: 1% 0 1% 0;
}

#titletext {
    text-align: center;
    margin: 0.5% 0 0.5% 0;
    overflow: hidden;
    white-space: nowrap;
}

.boxy {
    margin-bottom: 3%;
}

.colortext {
    text-align: center;
    margin: 5% 0 5% 0;
    overflow: hidden;
    white-space: nowrap;
}

.borderbox {
    width: 10%;
    color: white;
    /* unselect */
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

table {
    border-collapse: collapse;
}

td {
    padding-right: 5em;
    padding-left: 5em;
}

#footer {
    background-color: #417A21;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: auto;
    padding: 1% 0 1% 0;
    color: white;
    cursor: pointer;
}