body {
    font-family: 'Roboto Condensed', sans-serif;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#canvas {
    cursor: crosshair;
}

canvas {
    background-color: lightgrey;
    border-width: 5px;
    border-color: white;
    border-style: solid;
}

#show {
    margin-top: 2%;
    margin-bottom: 2%
}

.topMargin {
    margin-top: 2%;
}

.left-float {
    float: left;
}

.right-float {
    float: right;
}

.centercanvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.center-text {
    text-align: center;
}

#titletext {
    text-align: center;
}

.colortext {
    margin-top: 1%;
    text-align: center;
    margin-bottom: 1%;
}

.borderbox {
    width: 10%;
    color: white;
    /* unselect */
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}


/*



#pickshow {
    background-color: ;
    margin: auto;
    width: 50%;
    padding: 10px;
}

#averageshow {
    background-color: ;
    margin: auto;
    width: 50%;
    padding: 10px;
}


*/